<div>

    <hr>

    <form (ngSubmit)="onSubmit()" #requestForm="ngForm">

        <div class="form-group">
            <input placeholder="Subreddit" type="text" class="form-control" id="subreddit" required [(ngModel)]="requestFormSubreddit" name="subreddit" #name="ngModel">
        </div>

        <div class="form-group">
            <input placeholder="Days" type="number" min=1 class="form-control" id="days" required [(ngModel)]="requestFormDays" name="days" #name="ngModel">
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!requestForm.form.valid || !submitAvailable || requestFormDays <= 1">{{ buttonText }}</button>
    
    </form>

    <div class="chart-wrapper" #meanscores>


    </div>

    <div class="chart-wrapper" #meancomments>


    </div>

    <hr>

    <footer>
        &copy; YayLinda 2018
    </footer>

</div>
